<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Student</title>
    {% load crispy_forms_tags %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />

    <style>
        .txt_color {
            color: #7b7979;
            /* Light black color */
            font-family: "Times New Roman", Times, serif;
        }
    </style>
</head>
<style>
    .passport-photo {
        width: 5cm;
        /* Set the desired width */
        height: 5cm;
        /* Set the desired height */
        object-fit: cover;
        /* Maintain aspect ratio and cover the specified dimensions */

    }
</style>

<body>

    <div class="container text-center pt-3">
        <h1 class="txt_color border-bottom pb-2 mb-0">Edit Student</h1>
    </div>
    <main>
        <div class="container mt-4">
            <form method="post" class="row g-3" enctype="multipart/form-data">
                {% if form.instance.photo %}
                <img src="{{ form.instance.photo.url }}" alt="Event Photo" class="passport-photo">
                {% endif %}
                {% csrf_token %}
                {{ form|crispy }}
                <div class="col-12">
                    <button type="submit" class="btn btn-dark">Submit</button>
                </div>
            </form>
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>