<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register User</title>
</head>

<body>
    <header>
        <h1>Register User</h1>
    </header>
    <main>
        <nav>
            <ul>
                <li><a href="{% url 'register_franchisee' %}">Register Franchisee</a></li>
                <li><a href="{% url 'register_admin' %}">Register Admin</a></li>
            </ul>
        </nav>
    </main>
</body>

</html>