# Ignore editor/IDE-specific files and directories
.vscode/
.idea/

# Ignore compiled code or build artifacts
**.pyc
__pycache/
node_modules/
__pycache__/
build/
dist/
*.log
*.pyc

# Ignore environment-specific or configuration files
.env
*.env

# Ignore database files
*.sqlite3

**/migrations/
**/__init__.py
