<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Competitions</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        .message {
            margin: 20px;
            padding: 15px;
            border: 1px solid #ced4da;
            border-radius: 5px;
            background-color: #94bfee;
            color: #090909;
        }
        .current_text {
        font-family: "Your Desired Font", sans-serif; /* Use the desired font */
        font-weight: 600; /* Adjust the font weight */
        font-size: 14px; /* Modify the font size */
        text-transform: uppercase;
      }
    </style>
</head>

<body>

    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="current_text navbar-brand text-dark" href="{% url 'register_student' %}">Competitions</a>
            <button class=" navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

        </div>
        </div>
    </nav>

    <div class="container">
        {% for comp in comps %}
        <div class="message">
            <p>Dear Franchisee,</p>
            <p>A new competition has been announced!</p>
            <p>Circular No: {{ comp.circular_no }}</p>
            <p>Level Completion Cutoff: {{ comp.level_cutoff_date }}</p>
            {% if comp.pdf_file %}
            <p>Look at this <a href="{{ comp.pdf_file.url }}" target="_blank">PDF</a> for more details.</p>
            {% else %}
            <p>No PDF available for this competition.</p>
            {% endif %}
            <p>Thank you for your participation!</p>
            <!-- Add other formality things in the message as needed -->
        </div>
        {% endfor %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>