<!DOCTYPE html>
<html>

<head>
    <title>New order</title>
    <!-- Include your JavaScript and CSS libraries here -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        a.btn {
          text-decoration: none;
        }
  
        .current_text {
          font-family: "Your Desired Font", sans-serif; /* Use the desired font */
          font-weight: 600; /* Adjust the font weight */
          font-size: 14px; /* Modify the font size */
          text-transform: uppercase;
        }
        .txt_color {
          color: #7b7979; /* Light black color */
          font-family: "Times New Roman", Times, serif;
        }
      </style>
</head>

<body data-user="{{ request.user.username }}">
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand text-light" href="#">Orders</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="current_text nav-link text-dark" href="{% url 'new_order' %}">Place Order</a>
              </li>
              <li class="nav-item">
                <a class="current_text nav-link active text-dark" aria-current="page" href="{% url 'orders_pending' %}">Pending
                  Orders</a>
              </li>
              <li class="nav-item">
                <a class="current_text nav-link text-dark" href="{% url 'orders_completed' %}">Orders Delivered</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <div class="container my-5">
        <form method="post" id="table-form">
            {% csrf_token %}

            <!-- Table for Kits -->
            <table>
                <thead>
                    <tr>
                        <th>Kit</th>
                        <th>Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="expandable-row kit-row">
                        <td>
                            <select class="item-select select2 form-control my-2" name="kits[0][item]">
                                <option value="">None</option>
                                {% for kit in kits %}
                                {% if kit.name != 'None' %}
                                <option value="{{ kit.id }}">{{ kit.name }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </td>

                        <td>
                            <input type="number" class="quantity-input form-control my-2" name="kits[0][quantity]" value="0" />
                        </td>
                        <td><button type="button" class="delete-row btn btn-dark my-3 m-lg-2">Delete</button></td>
                    </tr>
                </tbody>
            </table>

            <!-- Add a new row button for Kits -->
            <button type="button" id="add-kit-row" class="btn btn-dark my-3 m-lg-2">Add Kit Row</button>

            <!-- Table for Items -->
            <table>
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="expandable-row item-row">
                        <td>
                            <select class="item-select select2 form-control my-2" name="items[0][item]">
                                <option value="">None</option>
                                {% for item in items %}
                                {% if item.name != 'None' %}
                                <option value="{{ item.id }}">{{ item.name }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </td>

                        <td>
                            <input type="number" class="quantity-input form-control my-2" name="items[0][quantity]" value="0" />
                        </td>
                        <td><button type="button" class="delete-row btn btn-dark my-3 m-lg-2">Delete</button></td>
                    </tr>
                </tbody>
            </table>

            <!-- Add a new row button for Items -->
            <button type="button" id="add-item-row" class="btn btn-dark my-3 m-lg-2">Add Item Row</button>

            <button type="submit" class="btn btn-dark my-3 m-lg-2">Submit</button>

            
        </form>
        
    </div>

    <script>
        const urlParams = new URLSearchParams(window.location.search);
        const successMessage = urlParams.get("success_message");

        if (successMessage) {
            // Display an alert with the success message
            alert(successMessage);

            // Reload the page to clear the success message from the URL
            window.location.href = window.location.pathname;
        }

        // Handle adding a new row for Kits
        document.querySelector("#add-kit-row").addEventListener("click", () => {
            const newRow = document
                .querySelector(".kit-row")
                .cloneNode(true);
            newRow.querySelector(".item-select").value = "";
            newRow.querySelector(".quantity-input").value = "0";

            const tableBody = document.querySelector("#table-form .kit-row").parentNode;
            tableBody.appendChild(newRow);
        });

        // Handle adding a new row for Items
        document.querySelector("#add-item-row").addEventListener("click", () => {
            const newRow = document
                .querySelector(".item-row")
                .cloneNode(true);
            newRow.querySelector(".item-select").value = "";
            newRow.querySelector(".quantity-input").value = "0";

            const tableBody = document.querySelector("#table-form .item-row").parentNode;
            tableBody.appendChild(newRow);
        });

        // Handle deleting a row
        document.querySelector("#table-form").addEventListener("click", (event) => {
            if (event.target.classList.contains("delete-row")) {
                const row = event.target.parentElement.parentElement;
                if (document.querySelectorAll(".expandable-row").length > 1) {
                    row.remove();
                } else {
                    alert("Cannot delete the last row");
                }
            }
        });

        var currentUser = document.body.getAttribute("data-user");
        console.log(currentUser);

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== "") {
                const cookies = document.cookie.split(";");
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === name + "=") {
                        cookieValue = decodeURIComponent(
                            cookie.substring(name.length + 1)
                        );
                        break;
                    }
                }
            }
            console.log(cookieValue);
            return cookieValue;
        }

        document
            .querySelector("#table-form")
            .addEventListener("submit", (event) => {
                event.preventDefault();

                const kitsData = [];
                const itemsData = [];

                document.querySelectorAll(".expandable-row.kit-row").forEach((row) => {
                    const itemSelect = row.querySelector(".item-select");
                    const quantityInput = row.querySelector(".quantity-input");
                    if (itemSelect.value !== "") {
                        kitsData.push({
                            item: itemSelect.value,
                            quantity: quantityInput.value,
                        });
                    }
                });

                document.querySelectorAll(".expandable-row.item-row").forEach((row) => {
                    const itemSelect = row.querySelector(".item-select");
                    const quantityInput = row.querySelector(".quantity-input");
                    if (itemSelect.value !== "") {
                        itemsData.push({
                            item: itemSelect.value,
                            quantity: quantityInput.value,
                        });
                    }
                });

                const tableData = {
                    kits: kitsData,
                    items: itemsData,
                    user: currentUser,
                };

                console.log(tableData);

                // Send the data to the server
                fetch("/inventory/orders/log-pending/", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        "X-CSRFToken": getCookie("csrftoken"), // Include CSRF token
                    },
                    body: JSON.stringify(tableData),
                })
                    .then((response) => response.json())
                    .then((data) => {
                        // Handle the response from the server, if needed
                        console.log(data);
                    });
            });

    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>


</body>


</html>