<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Students</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>

<body>
    <main>
        <nav>
            <ul>
                <li><a href="{% url 'register_student' %}">Register Student</a></li>
            </ul>
        </nav>
        <table>
            <thead>
                <tr>
                    <th>Student ID</th>
                    <th>Name</th>
                    <th>DOB</th>
                    <th>Level</th>
                    <th>Contact</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                <tr>
                    <td>{{ student.id }}</td>
                    <td>{{ student.name }}</td>
                    <td>{{ student.dob }}</td>
                    <td>{{ student.level }}</td>
                    <td>{{ student.contact }}</td>
                    <td class="button-column"><a href="{% url 'edit_student' student.id %}">Edit</a></td>
                    <td class="button-column"><a href="{% url 'delete_student' student.id %}">Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>

</html>