<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Items</title>
  <style>
    table {
      border-collapse: collapse;
      width: 100%;
    }

    th,
    td {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    th {
      background-color: #f2f2f2;
    }
  </style>
</head>

<body>
  <header>
    <h1>Items</h1>
    <li><a href="{% url 'register_item' %}">Register Item</a></li>
  </header>
  <main>
    <table>
      <thead>
        <tr>
          <th>Item ID</th>
          <th>Item</th>
          <th>Quantity</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for item in items %}
        <tr>
          <td>{{ item.id }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.qty }}</td>
          <td class="button-column"><a href="{% url 'edit_item' item.id %}">Edit</a></td>
          <td class="button-column"><a href="{% url 'delete_item' item.id %}">Delete</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </main>
</body>

</html>