<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Supply</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
  <style>
    .current_text {
      font-family: "Your Desired Font", sans-serif;
      /* Use the desired font */
      font-weight: 600;
      /* Adjust the font weight */
      font-size: 14px;
      /* Modify the font size */
      text-transform: uppercase;
    }

    .txt_color {
      color: #7b7979;
      /* Light black color */
      font-family: "Times New Roman", Times, serif;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand text-dark current_text" href="#">Supply</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link text-dark current_text" href="{% url 'vendors_page' %}">Vendors</a>
          </li>
          <!-- <li class="nav-item">
              <a class="nav-link text-light" href="{% url 'items_page' %}"
                >Items</a
              > -->
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark current_text" href="{% url 'log_order' %}">Log Order</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container text-center pt-3">
    <h1 class="txt_color border-bottom pb-2 mb-0">Log History</h1>
  </div>
  <main>

    <div class="container">

      <table class="table table-striped my-3">
        <thead>
          <tr>
            <th>Vendor</th>
            <th>Items</th>
            <th>Received Date</th>
          </tr>
        </thead>
        <tbody>
          {% for log in logs %}
          <tr>
            <td class="fw-normal mb-1">{{ log.vendor }}</td>
            <td class="fw-normal mb-1">{{ log.items }}</td>
            <td class="fw-normal mb-1">{{ log.date }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </main>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</body>

</html>